<p id="notice"><%= notice %></p>

<h1>Listing Weathers</h1>

<table>
  <thead>
    <tr>
      <th><%= l('city') %></th>
      <th><%= l('country') %></th>
      <th><%= l('weather') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.city %></td>
        <td><%= weather.country %></td>
        <td><img src="http://openweathermap.org/img/w/<%= weather.weather["icon"] %>.png"></td>
        <td><%= weather.weather["main"] %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather', new_weather_path %>
