<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @weather.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @weather.country %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
